<p>
  lister les coordonnées : 
</p>
<input type="button" (click)="lister()" value="lister" />
<div class="coordonnees">
  <div class="coordonnee"  *ngFor="let coord of coords">
    <div class="coordonnee-latitude">{{coord.latitude}}</div>
    <div class="coordonnee-longitude">{{coord.longitude}}</div>
    <div class="coordonnee-supprimer" (click)="supprimer(coord)">supprimer</div>
  </div>
</div>
<span>{{message}}</span>
