.coordonnees {
    width: 500px;
    border: 1px solid gray;
}
.coordonnee {
    height: 20px;
    text-align: right;
}
.coordonnee:nth-child(even) {
    background-color: #fff;
}

.coordonnee:nth-child(odd) {
    background-color: #eee;
}

.coordonnee-latitude, .coordonnee-longitude {
    float: left;
    border: 1px solid gray;
    width: 40%;
}

.coordonnee-supprimer {
    border: 1px solid gray;
    text-align: center;
    cursor: pointer;
}