<p>
  ajouter une coordonnee (en décimal):
</p>
<label for="latitude">latitude : </label><input type="text" id="latitude" [(ngModel)]="coord.latitude"/>

<label for="longitude">longitude : </label><input type="text" id="longitude" [(ngModel)]="coord.longitude"/>

<input type="button" value="ajouter" (click)="ajouter()"/>

<p>{{message}}</p>
