<p>
  distance entre deux coordonnées.
</p>

<select (change)="getSelectedValueX($event)">
  <option *ngFor="let coordX of coordsX" [value]="coordX.latitude + '-' + coordX.longitude">{{coordX.latitude + ' ' + coordX.longitude}}</option>
</select>

<select (change)="getSelectedValueY($event)">
    <option *ngFor="let coordY of coordsY" [value]="coordY.latitude + '-' + coordY.longitude">{{coordY.latitude + ' ' + coordY.longitude}}</option>
</select>

<span>{{message}}</span>